body {
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    overflow-y: hidden;
}

#top-decoration {
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(rgba(180, 6, 6, 1),rgba(180, 6, 6, 0.2), rgba(0, 0, 0, 0));
    height: 2rem;
    width: 105%;
}

#bottom-decoration {
    height: 2rem;
    width: 100%;
    position: absolute;
    background: linear-gradient(360deg, rgba(180, 6, 6, 1),rgba(180, 6, 6, 0.2), rgba(0, 0, 0, 0));
    bottom: 0;
    transform: translateX(-0.75%);
}

#left-decoration {
    position: absolute;
    height: 100%;
    width: 1.5rem;
    background: linear-gradient(90deg, rgba(180, 6, 6, 1),rgba(180, 6, 6, 0.2), rgba(0, 0, 0, 0));
    transform: translateY(-2%) translateX(-45%);
}

#right-decoration {
    position: absolute;
    right: 0;
    height: 100%;
    width: 1.5rem;
    background: linear-gradient(270deg, rgba(180, 6, 6, 1),rgba(180, 6, 6, 0.2), rgba(0, 0, 0, 0));
    transform: translateY(-1%) translateX(-5%);
}

#card-hell {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.9);
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    transition: 1s;
}

#card-hell:hover {
    transition: 1s;
    color: rgba(255, 0, 0, 0.95);
}

.center {
    display: flex;
    justify-content: center;
}

#recenter {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 37rem;
}