body {
    background-color: #4ea334;
}

#apple {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    top: 30px;
}

#head {
    position: absolute;
    top: 40px;
    height: 10px;
    width: 10px;
    background-color: black;
}