.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sidebar {
    background-color: rgb(148, 8, 8);
    width: 4cm;
    height: calc(101vh + 10vh);
    position: absolute; 
    left: 1px;
    top:1px;
    border-radius: 10px;
}
.change {
    background-color: #2388da;
}
.line {
    background-color: aliceblue;
    height: 1px;
    width: 125px;
}
#background-blue {
    background-color: #2388da;
    border-radius: 5px;
    width: 100mm;
    margin-top: 5mm;
}
#background-blue2 {
    background-color: #2388da;
    border-radius: 5px;
    width: 25cm;
    margin-top: -25px;
}
#font {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#html {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: #232323;
}
#themebtn {
    float: left; 
    position: absolute; 
    right: 10px; 
    top: 10px; 
    padding: 5px; 
    background-color: #2388da; 
    border-radius: 10px; 
    font-family:'Courier New', Courier, monospace; 
    border-color: #2388da;
}
html {
    background-color: #232323;
}